<nav class="navbar navbar-inverse" id="site-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Passport Authentication</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/login">Login</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Register</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/protected">protected</a></li>
       <li><a *ngIf="authService.isLoggedIn" href="#" (click)="onLogoutClick()">Logout</a></li>
    </ul>
  </div>
</nav>